In [2]:
# import dataset
# run the methods we learnt value count, unique, on species column
# create a new df (iris_without_species) object, without the species column

# df.info()

In [3]:
import pandas as pd

df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [5]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [6]:
iris_without_species = df.drop('species', axis= 1)
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
species1 = df['species']

species1.head()

type(species1)

pandas.core.series.Series

In [8]:
# instead

species2 = df.drop(['sepal_length','sepal_width','petal_length','petal_width'], axis=1)

species2.head()

type(species2)

pandas.core.frame.DataFrame

In [9]:
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [10]:
# calculated column

sepalx = iris_without_species['sepal_length'] * iris_without_species['sepal_width']

sepalx.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [11]:
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [12]:
iris_without_species['sepal_area'] = sepalx

iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_area
0           5.1          3.5           1.4          0.2       17.85
1           4.9          3.0           1.4          0.2       14.70
2           4.7          3.2           1.3          0.2       15.04
3           4.6          3.1           1.5          0.2       14.26
4           5.0          3.6           1.4          0.2       18.00

In [13]:
# petal area!!!

idreesx = iris_without_species['petal_length'] * iris_without_species['petal_width']

idreesx.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [14]:
iris_without_species['petal_area'] = idreesx

iris_without_species.head()

# only part of iris_without_species value of sepal_area is > 14

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28

In [15]:
# filter out parts of dataframes using pandas

largeFlowers = iris_without_species[iris_without_species['sepal_area'] > 18 ]

largeFlowers.head(10)

# how many large flowers we have in iris dataset\
# how many flowers have a sepal area of exactly 16

largeFlowers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 5 to 148
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  64 non-null     float64
 1   sepal_width   64 non-null     float64
 2   petal_length  64 non-null     float64
 3   petal_width   64 non-null     float64
 4   sepal_area    64 non-null     float64
 5   petal_area    64 non-null     float64
dtypes: float64(6)
memory usage: 3.5 KB

In [16]:
largeFlowers16 = iris_without_species[iris_without_species['sepal_area'] == 16 ]

largeFlowers16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepal_area    1 non-null      float64
 5   petal_area    1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [17]:
largeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
5,5.4,3.9,1.7,0.4,21.06,0.68
10,5.4,3.7,1.5,0.2,19.98,0.30
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
...,...,...,...,...,...,...
143,6.8,3.2,5.9,2.3,21.76,13.57
144,6.7,3.3,5.7,2.5,22.11,14.25
145,6.7,3.0,5.2,2.3,20.10,11.96
147,6.5,3.0,5.2,2.0,19.50,10.40
148,6.2,3.4,5.4,2.3,21.08,12.42

In [22]:
largeFlowers.to_csv('largeflowers.csv')

In [18]:
# sorting values by something

sortedLargeFlowers = largeFlowers.sort_values(by='sepal_area', ascending=False)

sortedLargeFlowers

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.80
117,7.7,3.8,6.7,2.2,29.26,14.74
109,7.2,3.6,6.1,2.5,25.92,15.25
15,5.7,4.4,1.5,0.4,25.08,0.60
14,5.8,4.0,1.2,0.2,23.20,0.24
...,...,...,...,...,...,...
127,6.1,3.0,4.9,1.8,18.30,8.82
91,6.1,3.0,4.6,1.4,18.30,6.44
103,6.3,2.9,5.6,1.8,18.27,10.08
27,5.2,3.5,1.5,0.2,18.20,0.30
54,6.5,2.8,4.6,1.5,18.20,6.90

In [19]:
areaoflargestflower = sortedLargeFlowers['sepal_area'].min()
areaoflargestflower

18.2

In [20]:
largestFlower = sortedLargeFlowers.head(1)
largestFlower

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.8

In [21]:
type(x)

NameError: name 'x' is not defined